.git
.codex
rust_project/target
target
build
out
reports
*.log
*.jou
*.str
*.wdb
*.vcd
*.fst
*.fsdb
*.dcp
*.bit
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.runs
*.cache
*.hw
*.ip_user_files
